@import url('https://fonts.googleapis.com/css?family=Oswald');

/*to taget a certain paragraph or piece of code use an ID which uses the #, then in the html code use id= #ID*/

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
  color: white;
}

h1 {
  padding: 20px 0px 10px 0px;
}

Body {
  background-image: url("../images/cracked-screen.jpg");
  background-size: auto;
  background-repeat: repeat-y;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

/* Centers Images */

img {
    display: block;
    margin: 0px auto;
  }

  /* When you put a period in front of a CSS decleration, it indicates you are creating a new class. We apply this to div elements to create different portfolio entries */

.portfolio item {
  margin-top: 60px;
  padding: 40px;
  background-color: #f7f7f7;
}

.box {
  background-color: blue;
  width: 600px;
  border: 5px solid white;

  padding: 25px;
  margin: 25px auto;
}

ul {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
  width: 600px;
  overflow: auto;
  background-color: blue;
  border: 5px solid white;
  opacity: 0.6;
  align-content: center;
  text-align: center;
}

li {
  display: inline-block;
  border-left: 2px solid white;
  line-height: 0;
}

li:last-child {
  border-right: 2px solid white;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
}

li a:hover {
  background-color: none;
}
